.hidden {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(150deg, rgb(176, 13, 185),rgb(13, 43, 194),#6e0cbe);
}

#header {
  padding: 40px;
  text-align: center;
  background: linear-gradient(150deg, rgb(95, 8, 194),rgb(207, 8, 217),#b70b81);
  border: 5px solid black ;
}
                      
.intro {
  width: 60%; 
  margin: 20px auto; 
  padding: 20px;
  background: linear-gradient(150deg, rgb(207, 8, 217), rgb(95, 8, 194), #b70b81);
  border-radius: 30px;
  color: black;
  text-align: center;
}

.h2main {
  text-align: center;
  font-size: 24px;
  padding-top: 60px;
}

#svgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 60px
}

#svgs div {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  background: #b70b81;
}

#svgs h3 {
  font-size: 20px;
  color: aliceblue;
}

#grape {
  transform-origin: center;
  transform-box: fill-box;
}

#grape:hover {
  animation: move-up-down 0.5s ease-in-out;
}

@keyframes move-up-down {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px); } 
  100% { transform: translateY(0); }
}

#circleorange {
  transition: transform 0.6s ease;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(0deg);
}

#orange:hover #circleorange {
  transform: rotate(360deg);
}

#strawberry {
  transform-origin: center;
  transform-box: fill-box;
}

#strawberry:hover #strawberryfoundation {
  animation: scale-up-down 0.5s ease-in-out;
}

@keyframes scale-up-down {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

#applecircle {
  transition: transform 0.6s ease;
  transform-box: fill-box;
}

#apple:hover #applecirclebig {
  fill: rgb(225, 17, 17);
}

#apple:hover #applecirclesmall {
  fill: rgb(255, 199, 252);
}

#cherry {
  transform-origin: center;
  transform-box: fill-box;
}

#cherry:hover {
  animation: scale-down 0.5s ease-in-out;
}

@keyframes scale-down {
  0%   { transform: scale(1); }
  50%  { transform: scale(0.8); } 
  100% { transform: scale(1); }
}

#watermelon {
  transform-box: fill-box;
  transform-origin: center;
}

#watermelon:hover {
  animation: wiggle 1s ease-in-out;
}

@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  75%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

#watermelon1 svg {
  padding-top: 140px;
}

footer {
  background: linear-gradient(150deg, rgb(207, 8, 217), rgb(95, 8, 194), #b70b81);
  height: 60px;
  border: 5px solid black;
  text-align: center;
}

